html {
    user-select: none;
    cursor: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(16,16,16);
}

/* CONTAINER */

.container {
    width: 100%;
    height: 100vh;
}

/* AIM */

.aim {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 5rem;
    pointer-events: none;
    z-index: 999;
}

.aim::before {
    content: '';
    width: 4px;
    height: 4px;
    position: absolute;
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
}

/* BALL */

.ball {
    width: 40px;
    height: 40px;
    border-radius: 5rem;
    position: fixed;
    transition: 100ms;
    background: url(./assets/target.png) no-repeat;
    background-size: cover;
}

@keyframes ball-animation {
    to{top: calc(100% + 5px);}
}

.ball-caught {
    scale: 1.2;
    opacity: 0;
    pointer-events: none;
}

/* INFORMATION */

.information {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    column-gap: 20px;
    background-color: rgb(30,30,30);
    padding: 5px 10px;
    border-radius: 0.3rem;
    border: 1px solid rgba(255,255,255,0.1);
    pointer-events: none;
}

.information-divider {
    border: 0;
    border-left: 1px solid rgba(255,255,255,0.05);
}

.level-info,
.score-info,
.health-infor {
    color: white;
}